@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 78%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Roboto", sans-serif;
}

@import"_static.scss";
@import"_home.scss";